.post-content {
  margin: 0 auto;
  padding-top: 2.5em;

  @include breakpoint($md) {
    padding-top: 5em;
  }
}

.post-card {
  &__thumb {
    img {
      position: absolute;
      height: auto;
    }
  }
}

.comments {
  padding: 50px 0;
  background-color: #fafafa;
}

.controls__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.25rem;
  border-top: 1px solid $border;

  .prev {
    align-items: flex-start;
    text-align: left;
  }

  .next {
    align-items: flex-end;
    text-align: right;
  }
}

.controls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 0.875rem;
    color: $grey;
  }

  a {
    color: $heading-color;
    font-weight: bold;
    border-bottom: 0;

    svg {
      transition: all .2s linear;
    }

    &:hover {
      color: $primary;
      border-bottom: 0;

      svg {
        fill: $primary;
      }
    }
  }
}

.responsive-video {
  width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
}

@media only screen and (max-width: $medium-screen) {
  .post-content {
    max-width: 52.5rem;

  }
}

@media only screen and (max-width: $desktop-screen) {
  .post-content {
    max-width: unset;
  }
}